* {
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(226, 195, 145);
}

header {
  width: 88%;
  height: 10%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 12%;
  background-color: rgb(155, 190, 199);
  border-bottom: 1 solid black;
}

h1 {
  margin: 0.4em 0;
  font-family: 'Mukta', sans-serif;
  font-size: 1.7em;
}

button {
  border-radius: 5px;
}

aside {
  height: 100%;
  width: 12%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: rgb(155, 190, 199);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@keyframes growIn {
  0% {transform:scale(0)}
  70% {transform:scale(1)}
  85% {transform: translateY(-4px);}
  100% {transform: translateY(4px);}
}

@keyframes growOut {
  0% {transform:scale(1)}
  100% {transform:scale(0)}
}

@keyframes slidePopup {
  0% {transform: translateY(0)}
  10% {transform: translateY(20vh)}
  70% {transform: translateY(-20vh)}
  0% {transform: translateY(0)}
}

#tools {
  position: absolute;
  top: 10%;
  height: 10%;
  left: 12%;
  width: 15%;
}

#note-list {
  position: absolute;
  overflow-y: auto;
  top: 20%;
  height: 80%;
  left: 12%;
  width: 15%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.note {
  transform-origin: center;
  -webkit-animation: growIn 200ms;
  -moz-animation: growIn 200ms;
  animation: growIn 200ms;
  background-color: rgb(168, 183, 171);
  padding: 1.5em 1.5em 2.5em 1.5em;
  border-bottom: 0.1em black solid;
  border-top: 0.1em black solid;
  border-radius: 5px;
}

.active-note {
  display: block;
}

.note-content {
  line-height: 1em;
  height: 1em;
  overflow-y: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.note-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.active-note:hover {
}

.sidebar-nav-button {
  margin-bottom: 0.4em;
  width: 6em;
  height: 6em;
  display: block;
}

.container {
  position: fixed;
  top: 10%;
  left: 27%;
  height: 90%;
  width: 73%;
}

.popping-up {
  -webkit-animation: slidePopup 2500ms;
  -moz-animation: slidePopup 2500ms;
  animation: slidePopup 2500ms;
}

#notification-popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 100%;
  left: 40%;
  height: 5%;
  width: 20%;
  background-color: red;
  text-align: center;
}

#notification-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.current-note-section {
  height: 100%;
  background-color: rgb(226, 195, 145);
}

#edit-form {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

#selected-note {
  border-color: yellow;
}

.current-note-title {
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
}

.current-note-body {
  z-index: 1;
  margin-top: 2%;
  margin-left: 5%;
  height: 40%;
  width: 90%;
}

#submit-note-changes-button {
  margin-top: 2%;
  margin-left: 40%;
  width: 20%;
  transform-origin: center;
}

#delete-button {
  position: absolute;
  right: 1.5em;
  width: 3em;
  height: 3em;
}

#archive-button {
  position: absolute;
  right: 5em;
  width: 6em;
  height: 3em;
}

#search-bar {
  width: 100%;
  height: 50%;
}

#new-button {
  z-index: 2;
  width: 100%;
  height: 50%;
}

button:hover {
  transform-origin: center;
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.archived-note {
  display: none;
}

.filtered {
  display: none;
}
