* {
  font-size: 17px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: hsl(0, 0%, 60%);
}

header {
  width: 88%;
  height: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 12%;
  overflow-y: hidden;
  background-color: #777777;
  border-bottom: 0.2em solid black;
  text-align: center;
}

h1 {
  margin: 0.4em 0;
  font-family: 'Mukta', sans-serif;
  font-size: 1.5em;
}

button {
  border-radius: 5px;
}

aside {
  height: 100%;
  width: 12%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: hsl(0, 0, 50%);
  border-right: 0.2em solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#note-list {
  position: absolute;
  overflow: auto;
  top: 10%;
  height: 90%;
  left: 12%;
  width: 15%;
  display: flex;
  flex-direction: column;
  background-color: hsl(180, 60%, 60%)
}

.active-note {
  padding: 1.5em 1.5em 2.5em 1.5em;
  border-bottom: 0.1em black solid;
  border-top: 0.1em black solid;
  border-radius: 5px;
}

.sidebar-nav-button {
  width: 8em;
  height: 8em;
  display: block;
}

.container {
  position: absolute;
  top: 10%;
  left: 27%;
  height: 90%;
  width: 73%;
}

.current-note-section {
  height: 90%;
  background: red;
}

#edit-form {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

#selected-note {
  border-color: yellow;
}

.current-note-title {
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
}

.current-note-body {
  margin-top: 2%;
  margin-left: 5%;
  height: 40%;
  width: 90%;
}

#submit-note-changes-button {
  margin-top: 2%;
  margin-left: 40%;
  width: 20%;
  transform-origin: center;
}

#submit-note-changes-button:hover {
  transform-origin: center;
  transform: scale(1.1, 1.1);
  opacity: 0.9;
}

#delete-button {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  width: 3em;
  height: 3em;
}

#delete-button:hover {
  transform-origin: center;
  transform: scale(1.1, 1.1);
  opacity: 0.9;
}

#new-button {
}
