* {
  font-size: 17px;
}

body {
  background-color: #999999;
}

header {
  width: 75%;
  height: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 25%;
  overflow-y: hidden;
  background-color: #777777;
}

.toolbar {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.toolbar-button {
  margin-left: 2%;
  width: 15vw;
  height: 60%;
}

#sidebar {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #666666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-nav-button {
  width: 60%;
  height: 20%;
  display: block;
}

.note-section {
  position: fixed;
  top: 11%;
  left: 26%;
}

.active-note {
  position: relative;
  margin-top: 1em;
  padding: 1.5em 1.5em 2.5em 1.5em;
  border: 0.1em black solid;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

p {
  margin: 0;
}

#selected-note {
  border-color: yellow;
}

.edit-button {
  position: absolute;
  bottom: 0.1em;
  right: 2.1em;
  width: 2em;
  height: 2em;
}

.edit-button:hover {
  transform-origin: center;
  transform: scale(1.1, 1.1);
  opacity: 0.9;
}

.delete-button {
  position: absolute;
  bottom: 0.1em;
  right: 0.1em;
  width: 2em;
  height: 2em;
}

.delete-button:hover {
  transform-origin: center;
  transform: scale(1.1, 1.1);
  opacity: 0.9;
}
